.headShot {
  -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
}

.background-image {
  background-image: url("https://demos.creative-tim.com/paper-kit-2-pro/assets/img/sections/pk-pro-cover.jpg");
  -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
}

.rolodex {
  height: 2em;
  overflow: hidden;
  display: flex;
  justify-content: center;

  ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
  }

  > p,
  ul,
  li {
    float: center;
    line-height: 2em;
  }

  li:before {
    content: "\a0";
    float: center;
  }

  li + li {
    clear: center;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .roll-one {
    animation: roll-up-one 12s infinite cubic-bezier(0.75, 0, 0.25, 1);
  }
}

@keyframes roll-up-one {
  0%,
  100% {
    transform: translateY(0);
  }
  20%,
  40% {
    transform: translateY(-1 * 2em);
  } /* Adjusted the keyframes */
  40%,
  60% {
    transform: translateY(-1 * 4em);
  } /* Adjusted the keyframes */
}
