<div class="flex flex-col w-full h-fit bg-[#151d20] box-border">
    <div class="pt-4 pb-4 box-border">
        <app-navbar></app-navbar>
    </div>
        <!-- Blog Article -->
  <div class="max-w-screen-fit px-4 sm:px-6 lg:px-8 mx-auto box-border">
    <div class="grid lg:grid-cols-3 gap-y-8 lg:gap-y-0 lg:gap-x-6 box-border">
      <!-- Content -->
      <div class="lg:col-span-2 box-border">
        <div class="py-8 lg:pe-8 box-border">
          <div class="space-y-5 lg:space-y-8 box-border">
            <a class="inline-flex items-center gap-x-1.5 text-lg text-gray-600 decoration-2 hover:underline dark:text-blue-500" href="blog">
              <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
              Back to Blog List
            </a>
  
            <h2 class="text-3xl font-bold lg:text-5xl dark:text-white">Setting up Dark Mode with Tailwind</h2>
  
            <div class="flex items-center gap-x-5">
              <a class="inline-flex items-center gap-1.5 py-1 px-3 sm:py-2 sm:px-4 rounded-full text-lg sm:text-lg bg-gray-100 text-gray-800 hover:bg-gray-200 dark:bg-neutral-800 dark:hover:bg-neutral-800 dark:text-neutral-200" href="#">
                COMM429 Submission
              </a>
              <p class="text-lg sm:text-lg text-gray-800 dark:text-neutral-200">March 14, 2024</p>
            </div>
            <div class="w-full flex flex-col gap-2 p-1">
              <p class="text-xl md:text-2xl text-gray-800 dark:text-neutral-200">Dark mode has become an essential feature for modern websites, providing users with a comfortable viewing experience, especially in low-light environments. Integrating dark mode into your website can seem like a daunting task, but with Tailwind CSS, it's a breeze. Let's dive into how you can set up dark mode effortlessly using Tailwind CSS.</p>
              <h2 class="text-2xl font-bold lg:text-5xl text-neutral-400">Core Concepts</h2>
              <p class="text-xl md:text-2xl text-gray-800 dark:text-neutral-200">Dark Mode is now a first-class feature in many operating systems, and Tailwind CSS makes it easy to style your site accordingly. By leveraging Tailwind's dark variant, you can style your site differently when dark mode is enabled, without any hassle.</p>
              <div class="flex flex-col h-fit rounded-xl bg-gray-800 text-gray-200 font-mono my-2">
                <!-- Top bar -->
                <div class="flex rounded-t-xl items-center h-fit py-3 px-4 bg-gray-800">
                    <div class="h-3 w-3 mr-2 rounded-full bg-red-500"></div>
                    <div class="h-3 w-3 mr-2 rounded-full bg-yellow-500"></div>
                    <div class="h-3 w-3 rounded-full bg-green-500"></div>
                </div>
            
                <!-- CMD body -->
                <div class="flex-1 px-4">
                    <div class="flex">
                        <div class="mr-3 text-slate-400"></div>
                        <div class="flex-1">
                          &lt;div&gt; class="bg-white dark:bg-slate-800 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl"&gt;
                        </div>
                    </div>
                </div>
                <div class="flex-1 px-4">
                  <div class="flex">
                      <div class="mr-3 text-slate-400"></div>
                      <div class="flex-1 pl-4">
                        &lt;!-- Content --&gt;
                      </div>
                  </div>
              </div>
              <div class="flex-1 px-4 pb-2">
                <div class="flex">
                    <div class="mr-3 text-slate-400"></div>
                    <div class="flex-1">
                      &lt;/div&gt;
                    </div>
                </div>
            </div>
            </div>
            <h2 class="text-2xl font-bold lg:text-5xl text-neutral-400">Basic Usage</h2>
            <p class="text-xl md:text-2xl text-gray-800 dark:text-neutral-200">To enable dark mode in your Tailwind CSS project, simply add the dark variant to your utility classes. Tailwind will automatically apply these styles based on the user's system preference.</p>
            <div class="flex flex-col h-fit rounded-xl bg-gray-800 text-gray-200 font-mono my-2">
              <!-- Top bar -->
              <div class="flex rounded-t-xl items-center h-fit py-3 px-4 bg-gray-800">
                  <div class="h-3 w-3 mr-2 rounded-full bg-red-500"></div>
                  <div class="h-3 w-3 mr-2 rounded-full bg-yellow-500"></div>
                  <div class="h-3 w-3 rounded-full bg-green-500"></div>
              </div>
          
              <!-- CMD body -->
              <div class="flex-1 px-4">
                  <div class="flex">
                      <div class="mr-3 text-slate-400">1</div>
                      <div class="flex-1">
                        module.exports = &lcub;
                      </div>
                  </div>
              </div>
              <div class="flex-1 px-4">
                <div class="flex">
                    <div class="mr-3 text-slate-400">2</div>
                    <div class="flex-1 pl-4">
                      darkMode: 'selector',
                    </div>
                </div>
            </div>
            <div class="flex-1 px-4 pb-2">
              <div class="flex">
                  <div class="mr-3 text-slate-400">3</div>
                  <div class="flex-1">
                    // Other configurations
                  </div>
              </div>
          </div>
          <div class="flex-1 px-4 pb-2">
            <div class="flex">
                <div class="mr-3 text-slate-400">3</div>
                <div class="flex-1">
                  &rcub;
                </div>
            </div>
        </div>
          </div>
          <h2 class="text-2xl font-bold lg:text-5xl text-neutral-400">Toggling Dark Mode Manually</h2>
          <p class="text-xl md:text-2xl text-gray-800 dark:text-neutral-200">If you prefer manual control over dark mode, you can use the selector strategy instead of relying on the operating system preference.</p>
          <div class="flex flex-col h-fit rounded-xl bg-gray-800 text-gray-200 font-mono my-2">
            <!-- Top bar -->
            <div class="flex rounded-t-xl items-center h-fit py-3 px-4 bg-gray-800">
                <div class="h-3 w-3 mr-2 rounded-full bg-red-500"></div>
                <div class="h-3 w-3 mr-2 rounded-full bg-yellow-500"></div>
                <div class="h-3 w-3 rounded-full bg-green-500"></div>
            </div>
        
            <!-- CMD body -->
            <div class="flex-1 px-4">
                <div class="flex">
                    <div class="mr-3 text-slate-400"></div>
                    <div class="flex-1">
                      &lt;html class="dark"&gt;
                    </div>
                </div>
            </div>
            <div class="flex-1 px-4">
              <div class="flex">
                  <div class="mr-3 text-slate-400"></div>
                  <div class="flex-1 pl-4">
                    &lt;!-- Content --&gt;
                  </div>
              </div>
          </div>
          <div class="flex-1 px-4 pb-2">
            <div class="flex">
                <div class="mr-3 text-slate-400"></div>
                <div class="flex-1">
                  &lt;/html&gt;
                </div>
            </div>
        </div>
        
        </div>
        <h2 class="text-2xl font-bold lg:text-5xl text-neutral-400">Customizing the Selector</h2>
          <p class="text-xl md:text-2xl text-gray-800 dark:text-neutral-200">Tailwind allows you to customize the dark mode selector to fit your specific needs. Whether you're using a framework like NativeScript or implementing your own dark mode logic, Tailwind provides flexibility.</p>
          <div class="flex flex-col h-fit rounded-xl bg-gray-800 text-gray-200 font-mono my-2">
            <!-- Top bar -->
            <div class="flex rounded-t-xl items-center h-fit py-3 px-4 bg-gray-800">
                <div class="h-3 w-3 mr-2 rounded-full bg-red-500"></div>
                <div class="h-3 w-3 mr-2 rounded-full bg-yellow-500"></div>
                <div class="h-3 w-3 rounded-full bg-green-500"></div>
            </div>
        
            <!-- CMD body -->
            <div class="flex-1 px-4">
                <div class="flex">
                    <div class="mr-3 text-slate-400">1</div>
                    <div class="flex-1">
                      module.exports = &lcub;
                    </div>
                </div>
            </div>
            <div class="flex-1 px-4">
              <div class="flex">
                  <div class="mr-3 text-slate-400">2</div>
                  <div class="flex-1 pl-4">
                    darkMode: ['selector', '[data-mode="dark"]'],
                  </div>
              </div>
          </div>
          <div class="flex-1 px-4 pb-2">
            <div class="flex">
                <div class="mr-3 text-slate-400">3</div>
                <div class="flex-1">
                  // Other configurations
                </div>
            </div>
        </div>
        <div class="flex-1 px-4 pb-2">
          <div class="flex">
              <div class="mr-3 text-slate-400">4</div>
              <div class="flex-1">
                &rcub;
              </div>
          </div>
      </div>
        </div>
        <h2 class="text-2xl font-bold lg:text-5xl text-neutral-400">Wrap Up</h2>
          <p class="text-xl md:text-2xl text-gray-800 dark:text-neutral-200">Integrating dark mode into your website has never been easier, thanks to Tailwind CSS. Whether you prefer system preference-based styling or manual control, Tailwind offers versatile solutions to suit your needs.

            By following these simple steps, you can enhance your website's accessibility and provide users with a seamless browsing experience in any lighting condition. Embrace the power of dark mode with Tailwind CSS and elevate your web design to the next level.</p>
              
    
            </div>
            
            <div class="grid lg:flex lg:justify-between lg:items-center gap-y-5 lg:gap-y-0">
              <!-- Badges/Tags -->
              <div>
                <a class="m-0.5 inline-flex items-center gap-1.5 py-2 px-3 rounded-full text-lg bg-gray-100 text-gray-800 hover:bg-gray-200 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:text-neutral-200" href="#">
                  Tailwind
                </a>
                <a class="m-0.5 inline-flex items-center gap-1.5 py-2 px-3 rounded-full text-lg bg-gray-100 text-gray-800 hover:bg-gray-200 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:text-neutral-200" href="#">
                  Web development
                </a>
                <a class="m-0.5 inline-flex items-center gap-1.5 py-2 px-3 rounded-full text-lg bg-gray-100 text-gray-800 hover:bg-gray-200 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:text-neutral-200" href="#">
                  Tutorial
                </a>
              </div>
              <!-- End Badges/Tags -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Content -->
  
      <!-- Sidebar -->
      <div class="rounded-lg lg:col-span-1 lg:w-full lg:h-full lg:bg-gradient-to-r lg:from-from-slate-400 lg:via-transparent lg:to-transparent dark:from-blue-900 ">
        <div class="sticky top-0 start-0 py-8 lg:ps-8">
          <!-- Avatar Media -->
          <div class="group flex items-center gap-x-3 border-b border-gray-200 pb-8 mb-8 dark:border-neutral-700">
            <a class="block flex-shrink-0" href="#">
              <img class="size-10 rounded-full" src="assets/imgs/headshotXavierLora.png " alt="Image Description">
            </a>
  
            <a class="group grow block" href="">
              <h5 class="group-hover:text-gray-600 text-lg font-semibold text-gray-800 dark:group-hover:text-neutral-400 dark:text-neutral-200">
                Xavier Lora
              </h5>
              <p class="text-lg text-gray-500 dark:text-neutral-500">
                Web/App Enthusiast 
              </p>
            </a>
  
            <div class="grow box-border">
              <div class="flex justify-end gap-4">
                <a href="https://github.com/XavierLora">
                    <i class="devicon-github-original text-4xl text-white"></i>
                </a>
                <a href="https://www.linkedin.com/in/xavier-lora/">
                    <i class="devicon-linkedin-plain text-4xl text-white"></i>
                </a>
              </div>
            </div>
          </div>
          <!-- End Avatar Media -->
  
          <div class="space-y-6 pr-4">
            <!-- Media -->
            <a class="group flex items-center gap-x-6" href="blogPost1">
              <div class="grow">
                <span class="text-lg font-bold group-hover:text-white text-slate-300">
                  Boilerplate HTML Generator (Bash Script)
                </span>
              </div>
  
              <div class="flex-shrink-0 relative rounded-lg overflow-hidden size-20">
                <img class="size-full absolute top-0 start-0 object-cover rounded-lg" src="https://cdn.neowin.com/news/images/uploaded/2023/07/1688749943_vscode_story.jpg" alt="Image Description">
              </div>
            </a>
            <a class="group flex items-center gap-x-6" href="blogPost1">
                <div class="grow">
                  <span class="text-lg font-bold group-hover:text-white text-slate-300">
                    Setting up Dark Mode with Tailwind
                  </span>
                </div>
    
                <div class="flex-shrink-0 relative rounded-lg overflow-hidden size-20">
                  <img class="size-full absolute top-0 start-0 object-cover rounded-lg" src="https://media.licdn.com/dms/image/D5612AQETWNgJIA8_cA/article-cover_image-shrink_720_1280/0/1692716751179?e=2147483647&v=beta&t=57yvzbLCZ2WZX5pYjPAuBiakX9Qtaku2qHQ4_Lf4XcU" alt="Image Description">
                </div>
              </a>
            <!-- End Media -->
          </div>
        </div>
      </div>
      <!-- End Sidebar -->
    </div>
  </div>
  <!-- End Blog Article -->
        
        
    
    
  </div>
  