<div class="flex flex-col w-full h-fit">
    <div class="w-full h-screen bg-cover bg-center" style="background-image: url('https://demos.creative-tim.com/paper-kit-2-pro/assets/img/sections/pk-pro-cover.jpg');">
        <app-navbar></app-navbar>
        <h1 class="text-white text-5xl mt-10 text-center">Selected Projects</h1>
        <div class="absolute mt-5 pb-2 grid w-full auto-rows-max grid-cols-auto-fill-325 place-items-center gap-2">
            <div class="w-10/12 h-50 group border rounded-xl shadow-sm sm:flex hover:shadow-lg transition duration-500 ease-in-out dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
                <div class="flex-shrink-0 relative w-full rounded-t-xl overflow-hidden pt-[40%] sm:rounded-s-xl sm:max-w-60 md:rounded-se-none md:max-w-40 lg:max-w-60">
                  <video onloadedmetadata="this.muted = true" playsinline loop autoplay class="size-full absolute top-0 start-0 object-fit object-top scale-200 rounded-t-xl">
                    <source src="assets/videos/NBStats.mp4" type="video/mp4"/>
                  </video>
                </div>
                <div class="flex flex-wrap">
                  <div class="p-4 flex flex-col h-full sm:p-7">
                    <div class="flex flex-row gap-2 items-center">
                      <h3 class="text-lg font-bold text-gray-800 dark:text-white">
                        NBStats
                      </h3>
                      <a href="https://github.com/XavierLora/NBStats">
                        <i class="devicon-github-original text-2xl text-white"></i>
                      </a>
                      <a href="https://xavierlora.github.io/NBStats/">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-7 h-7">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
                        </svg>
                      </a>
                    </div>
                    
                    <p class="mt-1 text-white">
                      I'm thrilled to introduce NBStats, my most well designed web app that showcases stats and insights from your favorite NBA teams and players!
                    </p>
                  </div>
                </div>
              </div>

              <div class="w-10/12 group border rounded-xl shadow-sm sm:flex hover:shadow-lg transition duration-500 ease-in-out dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
                <div class="flex-shrink-0 relative w-full rounded-t-xl overflow-hidden pt-[40%] sm:rounded-s-xl sm:max-w-60 md:rounded-se-none md:max-w-40 lg:max-w-60">
                  <video onloadedmetadata="this.muted = true" playsinline loop autoplay class="size-full absolute top-0 start-0 object-fit object-top scale-200 rounded-t-xl">
                    <source src="assets/videos/CLCFVid.mp4" type="video/mp4"/>
                  </video>
                </div>
                <div class="flex flex-wrap">
                  <div class="p-4 flex flex-col h-full sm:p-7">
                    <div class="flex flex-row gap-2 items-center">
                      <h3 class="text-lg font-bold text-gray-800 dark:text-white">
                        CLCF Baseball
                      </h3>
                      <a href="https://clcfbaseball.com">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-7 h-7">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
                        </svg>
                      </a>
                    </div>
                    
                    <p class="mt-1 text-white">
                      I was fortunate to get the opportunity to work with Cranston Little Leagues CLCF Baseball Org to create a new website for them. Click the link above!
                    </p>
                  </div>
                </div>
              </div>

              <div class="w-10/12 h-50 group border rounded-xl shadow-sm sm:flex hover:shadow-lg transition duration-500 ease-in-out dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
                <div class="flex-shrink-0 relative w-full rounded-t-xl overflow-hidden pt-[40%] sm:rounded-s-xl sm:max-w-60 md:rounded-se-none md:max-w-40 lg:max-w-60">
                  <video onloadedmetadata="this.muted = true" playsinline loop autoplay class="size-full absolute top-0 start-0 object-fit object-top scale-200 rounded-t-xl">
                    <source src="assets/videos/Zelda.mp4" type="video/mp4"/>
                  </video>
                </div>
                <div class="flex flex-wrap">
                  <div class="p-4 flex flex-col h-full sm:p-7">
                    <div class="flex flex-row gap-2 items-center">
                      <h3 class="text-lg font-bold text-gray-800 dark:text-white">
                        ZeldaApi App
                      </h3>
                      <a href="https://github.com/XavierLora/ZeldaApiApp">
                        <i class="devicon-github-original text-2xl text-white"></i>
                      </a>
                      <a href="https://xavierlora.github.io/ZeldaApiApp/">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-7 h-7">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
                        </svg>
                      </a>
                    </div>
                    
                    <p class="mt-1 text-white">
                      I developed a tracker app for my favorite game Zelda, enabling users to store their "found items" locally within the browser.
                    </p>
                  </div>
                </div>
              </div>

              <div class="w-10/12 group border rounded-xl shadow-sm sm:flex hover:shadow-lg transition duration-500 ease-in-out dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
                <div class="flex-shrink-0 relative w-full rounded-t-xl overflow-hidden pt-[40%] sm:rounded-s-xl sm:max-w-60 md:rounded-se-none md:max-w-40 lg:max-w-48">
                  <video onloadedmetadata="this.muted = true" playsinline loop autoplay class="size-full absolute top-0 start-0 object-fit object-top scale-200 rounded-t-xl">
                    <source src="assets/videos/Auth.mp4" type="video/mp4"/>
                  </video>
                </div>
                <div class="flex flex-wrap">
                  <div class="p-4 flex flex-col h-full sm:p-7">
                    <div class="flex flex-row gap-2 items-center">
                      <h3 class="text-lg font-bold text-gray-800 dark:text-white">
                        AuthenticateYourself
                      </h3>
                      <a href="https://github.com/JacobLHatch/AuthenticateYourself">
                        <i class="devicon-github-original text-2xl text-white"></i>
                      </a>
                    </div>
                    
                    <p class="mt-1 text-white">
                      This is my first major Android Studio App Project! Designed the UI and implemented key functionalities, including robust password security through hashing and efficient database management using SQLite. Team effort at its best! Explore our creation.
                    </p>
                  </div>
                </div>
              </div>
              
        </div>
        
    </div>
    
  </div>