<div class="flex flex-col w-full h-fit bg-[#151d20] box-border">
  <div class="pt-4 pb-4 box-border">
    <app-navbar></app-navbar>
  </div>
  <!-- Blog Article -->
  <div class="max-w-screen-fit px-4 sm:px-6 lg:px-8 mx-auto box-border">
    <div class="grid lg:grid-cols-3 gap-y-8 lg:gap-y-0 lg:gap-x-6 box-border">
      <!-- Content -->
      <div class="lg:col-span-2 box-border">
        <div class="py-8 lg:pe-8 box-border">
          <div class="space-y-5 lg:space-y-8 box-border">
            <a
              class="inline-flex items-center gap-x-1.5 text-lg text-gray-600 decoration-2 hover:underline dark:text-blue-500"
              routerLink="/blog"
            >
              <svg
                class="flex-shrink-0 size-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="m15 18-6-6 6-6" />
              </svg>
              Back to Blog List
            </a>

            <h2 class="text-3xl font-bold lg:text-5xl dark:text-white">
              {{ title() }}
            </h2>

            <div class="flex items-center gap-x-5">
              <p class="text-lg sm:text-lg text-gray-800 dark:text-neutral-200">
                {{ date() }}
              </p>
            </div>
            <div class="w-full flex flex-col gap-4 p-1">
              <ng-content select="[blog-body]"></ng-content>
            </div>

            <div
              class="grid lg:flex lg:justify-between lg:items-center gap-y-5 lg:gap-y-0"
            >
              <!-- Badges/Tags -->
              <ng-content select="[blog-tags]"></ng-content>
              <!-- End Badges/Tags -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Content -->

      <!-- Sidebar -->
      <div
        class="rounded-lg lg:col-span-1 lg:w-full lg:h-full lg:bg-gradient-to-r lg:from-from-slate-400 lg:via-transparent lg:to-transparent dark:from-blue-900"
      >
        <div class="sticky top-0 start-0 py-8 lg:ps-8">
          <!-- Avatar Media -->
          <div
            class="group flex items-center gap-x-3 border-b border-gray-200 pb-8 mb-8 dark:border-neutral-700"
          >
            <a class="block flex-shrink-0" routerLink="/">
              <img
                class="size-10 rounded-full"
                src="assets/imgs/headshotXavierLora.png "
                alt="Image Description"
              />
            </a>

            <a class="group grow block" routerLink="/">
              <h5
                class="group-hover:text-gray-600 text-lg font-semibold text-gray-800 dark:group-hover:text-neutral-400 dark:text-neutral-200"
              >
                Xavier Lora
              </h5>
              <p class="text-lg text-gray-500 dark:text-neutral-400">
                Web/App Enthusiast
              </p>
            </a>

            <div class="grow box-border">
              <div class="flex justify-end gap-4">
                <a href="https://github.com/XavierLora">
                  <i class="devicon-github-original text-4xl text-white"></i>
                </a>
                <a href="https://www.linkedin.com/in/xavier-lora/">
                  <i class="devicon-linkedin-plain text-4xl text-white"></i>
                </a>
              </div>
            </div>
          </div>
          <!-- End Avatar Media -->

          <div class="space-y-6 pr-4">
            <!-- Media -->
            <a class="group flex items-center gap-x-6" href="blogPost1">
              <!--Build out based on list of blog items-->
              <div class="grow">
                <span
                  class="text-lg font-bold group-hover:text-white text-slate-300"
                >
                  Boilerplate HTML Generator (Bash Script)
                </span>
              </div>

              <div
                class="flex-shrink-0 relative rounded-lg overflow-hidden size-20"
              >
                <img
                  class="size-full absolute top-0 start-0 object-cover rounded-lg"
                  src="https://cdn.neowin.com/news/images/uploaded/2023/07/1688749943_vscode_story.jpg"
                  alt="Image Description"
                />
              </div>
            </a>
            <!-- End Media -->
            <a class="group flex items-center gap-x-6" href="blogPost2">
              <div class="grow">
                <span
                  class="text-lg font-bold group-hover:text-white text-slate-300"
                >
                  Setting up Dark Mode with Tailwind
                </span>
              </div>

              <div
                class="flex-shrink-0 relative rounded-lg overflow-hidden size-20"
              >
                <img
                  class="size-full absolute top-0 start-0 object-cover rounded-lg"
                  src="https://media.licdn.com/dms/image/D5612AQETWNgJIA8_cA/article-cover_image-shrink_720_1280/0/1692716751179?e=2147483647&v=beta&t=57yvzbLCZ2WZX5pYjPAuBiakX9Qtaku2qHQ4_Lf4XcU"
                  alt="Image Description"
                />
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- End Sidebar -->
    </div>
  </div>
  <!-- End Blog Article -->
</div>
