<div class="flex flex-col w-full h-fit bg-[#151d20] box-border">
  <div class="pt-4 pb-4 box-border">
      <app-navbar></app-navbar>
  </div>
      <!-- Blog Article -->
<div class="max-w-screen-fit px-4 sm:px-6 lg:px-8 mx-auto box-border">
  <div class="grid lg:grid-cols-3 gap-y-8 lg:gap-y-0 lg:gap-x-6 box-border">
    <!-- Content -->
    <div class="lg:col-span-2 box-border">
      <div class="py-8 lg:pe-8 box-border">
        <div class="space-y-5 lg:space-y-8 box-border">
          <a class="inline-flex items-center gap-x-1.5 text-lg text-gray-600 decoration-2 hover:underline dark:text-blue-500" href="blog">
            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
            Back to Blog List
          </a>

          <h2 class="text-3xl font-bold lg:text-5xl dark:text-white">Web Development as a Career</h2>

          <div class="flex items-center gap-x-5">
            <p class="text-lg sm:text-lg text-gray-800 dark:text-neutral-200">December 11, 2025</p>
          </div>
          <div class="w-full flex flex-col gap-2 p-1">
            <p class="text-xl md:text-2xl text-gray-800 dark:text-neutral-200">Today, we're jumping into the shallow end of the scripting pool. No fancy jargon—just pure, easy, command-line fun.<br> <br>

              One of the most tedious parts of starting a new website has got to be creating the file structure to house all your HTML, CSS and JS. 

              Well, imagine this: you're staring at your screen, faced with a blank project folder. You know what you want to build, and instead of having to spend the 5 minutes to create the file scaffolding, you click one button and BAM. <br> <br>
              
              That's where scripting comes in. With just a few clever lines of code, you can automate the boring stuff, scaffold out your project structure, and get straight to the fun part—coding.
              
              In this post, we're going to walk you through the process of creating a bash script that'll make your life easier and your projects more efficient. Let's Get Started!</p>
  
            <blockquote class="text-center p-4 sm:px-7">
              <p class="text-xl md:text-2xl font-medium text-gray-800 lg:text-2xl lg:leading-normal xl:text-2xl xl:leading-normal dark:text-neutral-200">
                NOTE: This guide is for Mac users using bash commands but links to windows related articles are provided below!
              </p>
            </blockquote>

            <p class="text-xl md:text-2xl text-gray-800 dark:text-neutral-200">We can accomplish this in three easy steps:</p>
            <ul class="space-y-3 text-sm py-2">
              <li class="flex space-x-3 items-center">
                <svg class="flex-shrink-0 size-5 mt-0.5 text-blue-600 dark:text-blue-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                <span class="text-xl md:text-2xl text-neutral-400">
                 Function Use Validation
                </span>
              </li>
            
              <li class="flex space-x-3 items-center">
                <svg class="flex-shrink-0 size-5 mt-0.5 text-blue-600 dark:text-blue-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                <span class="text-xl md:text-2xl text-neutral-400">
                  Directory Check and Creation
                </span>
              </li>
            
              <li class="flex space-x-3 items-center">
                <svg class="flex-shrink-0 size-5 mt-0.5 text-blue-600 dark:text-blue-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                <span class="text-xl md:text-2xl text-neutral-400">
                  Creating Files and Adding Content
                </span>
              </li>
            </ul>

            <p class="text-xl md:text-2xl text-gray-800 dark:text-neutral-200">The first part of this involves creating a simple .sh file that will be our script file that we run to generate our project's folder contents.
              We will name ours webScaffold.sh and we can create in any folder or directory and we will move it at the end. Then open the .sh file with your favorite text editor and follow below:
            </p>
            <h2 class="text-2xl font-bold lg:text-5xl text-neutral-400">Function Use Validation</h2>
            <div class="flex flex-col h-fit rounded-xl bg-gray-800 text-gray-200 font-mono my-2">
              <!-- Top bar -->
              <div class="flex rounded-t-xl items-center h-fit py-3 px-4 bg-gray-800">
                  <div class="h-3 w-3 mr-2 rounded-full bg-red-500"></div>
                  <div class="h-3 w-3 mr-2 rounded-full bg-yellow-500"></div>
                  <div class="h-3 w-3 rounded-full bg-green-500"></div>
              </div>
          
              <!-- CMD body -->
              <div class="flex-1 px-4 py-2">
                  <div class="flex">
                      <div class="mr-3 text-slate-400">1</div>
                      <div class="flex-1 text-green-500">#!/bin/bash</div>
                  </div>
                  <div class="flex mt-1">
                    <div class="mr-3 text-slate-400">2</div>
                      <div class="flex-1">if [ -z "$1" ]; then</div>
                  </div>
                  <div class="flex mt-1">
                    <div class="mr-3 text-slate-400">3</div>
                      <div class="flex-1 pl-4">echo "Usage: $0 &lt;directory_name&gt;"</div>
                  </div>
                  <div class="flex mt-1">
                    <div class="mr-3 text-slate-400">4</div>
                      <div class="flex-1 pl-4">exit 1</div>
                  </div>
                  <div class="flex mt-1">
                    <div class="mr-3 text-slate-400">5</div>
                      <div class="flex-1">fi</div>
                  </div>
                  <div class="flex mt-1">
                    <div class="mr-3 text-slate-400">6</div>
                      <div class="flex-1">directory_name="$1"</div>
                  </div>
              </div>
          </div>

          <p class="text-xl md:text-2xl text-gray-800 dark:text-neutral-200">In this section, the script checks if there's at least one argument provided when executing the script. If not, it prints a message indicating the correct usage of the script and exits with a status of 1. The first argument ($1) is then assigned to the variable directory_name.</p>
          <h2 class="text-2xl font-bold lg:text-5xl text-neutral-400">Directory Check and Creation</h2>
          <div class="flex flex-col h-fit rounded-xl bg-gray-800 text-gray-200 font-mono my-2">
            <!-- Top bar -->
            <div class="flex rounded-t-xl items-center h-fit py-3 px-4 bg-gray-800">
                <div class="h-3 w-3 mr-2 rounded-full bg-red-500"></div>
                <div class="h-3 w-3 mr-2 rounded-full bg-yellow-500"></div>
                <div class="h-3 w-3 rounded-full bg-green-500"></div>
            </div>
        
            <!-- CMD body -->
            <div class="flex-1 px-4 py-2">
                <div class="flex">
                    <div class="mr-3 text-slate-400">7</div>
                    <div class="flex-1">if [ -d "$directory_name" ]; then</div>
                </div>
                <div class="flex mt-1">
                  <div class="mr-3 text-slate-400">8</div>
                    <div class="flex-1 pl-4">echo "Directory '$directory_name' already exists."</div>
                </div>
                <div class="flex mt-1">
                  <div class="mr-3 text-slate-400">9</div>
                    <div class="flex-1 pl-4">exit 1</div>
                </div>
                <div class="flex mt-1">
                  <div class="mr-2 text-slate-400">10</div>
                    <div class="flex-1">mkdir "$directory_name"</div>
                </div>
                <div class="flex mt-1">
                  <div class="mr-2 text-slate-400">11</div>
                    <div class="flex-1">echo "Directory '$directory_name' created successfully."</div>
                </div>
            </div>
        </div>

        <p class="text-xl md:text-2xl text-gray-800 dark:text-neutral-200">Here, the script checks if a directory with the name stored in $directory_name already exists. If it does, it prints a message indicating that the directory already exists and exits with a status of 1. If the directory doesn't exist, it creates one using the mkdir command with the name stored in $directory_name, and then prints a success message.</p>
        <h2 class="text-2xl font-bold lg:text-5xl text-neutral-400"> Creating Files and Adding Content </h2>
        <div class="flex flex-col h-fit rounded-xl bg-gray-800 text-gray-200 font-mono my-2">
          <!-- Top bar -->
          <div class="flex rounded-t-xl items-center h-fit py-3 px-4 bg-gray-800">
              <div class="h-3 w-3 mr-2 rounded-full bg-red-500"></div>
              <div class="h-3 w-3 mr-2 rounded-full bg-yellow-500"></div>
              <div class="h-3 w-3 rounded-full bg-green-500"></div>
          </div>
      
          <!-- CMD body -->
          <div class="flex-1 px-4 py-2">
              <div class="flex">
                  <div class="mr-3 text-slate-400">12</div>
                  <div class="flex-1">cd "$directory_name"</div>
              </div>
              <div class="flex mt-1">
                <div class="mr-3 text-slate-400">13</div>
                  <div class="flex-1">mkdir images scripts styles</div>
              </div>
              <div class="flex mt-1">
                <div class="mr-3 text-slate-400">14</div>
                  <div class="flex-1">touch index.html</div>
              </div>
              <div class="flex mt-1">
                <div class="mr-3 text-slate-400">15</div>
                  <div class="flex-1">touch styles/style.css</div>
              </div>
              <div class="flex mt-1">
                <div class="mr-3 text-slate-400">16</div>
                  <div class="flex-1">echo "&lt;!DOCTYPE html&gt;" >> index.html</div>
              </div>
              <div class="flex mt-1">
                <div class="mr-3 text-slate-400">17</div>
                  <div class="flex-1">echo "&lt;html&gt;" &gt;&gt; index.html</div>
              </div>
              <div class="flex mt-1">
                <div class="mr-3 text-slate-400">18</div>
                  <div class="flex-1">echo "	&lt;head" &gt;&gt; index.html</div>
              </div>
              <div class="flex mt-1">
                <div class="mr-3 text-slate-400">19</div>
                  <div class="flex-1">echo "	   &lt;meta charset=\"utf-8\"&gt;" &gt;&gt; index.html</div>
              </div>
              <div class="flex mt-1">
                <div class="mr-3 text-slate-400">20</div>
                  <div class="flex-1">echo "	   &lt;meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"&gt;" &gt;&gt; index.html</div>
              </div>
              <div class="flex mt-1">
                <div class="mr-3 text-slate-400">21</div>
                  <div class="flex-1">echo "	   &lt;link rel=\"stylesheet\" href=\"styles/style.css\"&gt;" &gt;&gt; index.html</div>
              </div>
              <div class="flex mt-1">
                <div class="mr-3 text-slate-400">22</div>
                  <div class="flex-1">echo "	&lt;/head&gt;" &gt;&gt; index.html</div>
              </div>
              <div class="flex mt-1">
                <div class="mr-3 text-slate-400">23</div>
                  <div class="flex-1">echo "	&lt;body&gt;" &gt;&gt; index.html</div>
              </div>
              <div class="flex mt-1">
                <div class="mr-3 text-slate-400">24</div>
                  <div class="flex-1">echo "	&lt;/body&gt;" &gt;&gt; index.html</div>
              </div>
              <div class="flex mt-1">
                <div class="mr-3 text-slate-400">25</div>
                  <div class="flex-1">echo "&lt;/html&gt;" &gt;&gt; index.html</div>
              </div>
          </div>
      </div>

      <p class="text-xl md:text-2xl text-gray-800 dark:text-neutral-200">In this final section, the script navigates (cd) into the directory specified by $directory_name. Then, it creates three subdirectories - images, scripts, and styles. After that, it creates two files - index.html and styles/style.css using the touch command. Following this, it appends HTML content to index.html file using echo commands, effectively creating a basic HTML structure with an empty body and a link to the CSS file.</p>
        <h2 class="text-2xl font-bold lg:text-5xl text-neutral-400">Wrap Up and Execution</h2>
        <p class="text-xl md:text-2xl text-gray-800 dark:text-neutral-200">After saving the shell script (.sh), it's recommended to move it to the bin folder for easy access and execution. The bin folder could be located in the current user's profile or in the system's bin directory. Make sure you have the ability to see hidden files and simply navigate to the terminal of your choice, retrieve the file path to your .sh script, and type the following:</p>
        <div class="flex flex-col h-fit rounded-xl bg-gray-800 text-gray-200 font-mono my-2 pb-2">
          <!-- Top bar -->
          <div class="flex rounded-t-xl items-center h-fit py-3 px-4 bg-gray-800">
              <div class="h-3 w-3 mr-2 rounded-full bg-red-500"></div>
              <div class="h-3 w-3 mr-2 rounded-full bg-yellow-500"></div>
              <div class="h-3 w-3 rounded-full bg-green-500"></div>
          </div>
      
          <!-- CMD body -->
          <div class="flex-1 px-4 py-2">
              <div class="flex">
                  <div class="mr-3 text-slate-400">Mac-mini ~ %</div>
                  <div class="flex-1">mv ~/Desktop/MyFile.sh ~/bin/</div>
              </div>
          </div>
      </div>
      <p class="text-xl md:text-2xl text-gray-800 dark:text-neutral-200">The above will move our script to a folder that is accessable everywhere so now we can go to any directory we want to create a new projects and run the following line:</p>
        <div class="flex flex-col h-fit rounded-xl bg-gray-800 text-gray-200 font-mono my-2 pb-2">
          <!-- Top bar -->
          <div class="flex rounded-t-xl items-center h-fit py-3 px-4 bg-gray-800">
              <div class="h-3 w-3 mr-2 rounded-full bg-red-500"></div>
              <div class="h-3 w-3 mr-2 rounded-full bg-yellow-500"></div>
              <div class="h-3 w-3 rounded-full bg-green-500"></div>
          </div>
      
          <!-- CMD body -->
          <div class="flex-1 px-4 py-2">
              <div class="flex">
                  <div class="mr-3 text-slate-400">Mac-mini ~ %</div>
                  <div class="flex-1">./webScaffold myProject</div>
              </div>
          </div>
      </div>

      <p class="text-xl md:text-2xl text-gray-800 dark:text-neutral-200">After execution you will see all the folders and files created within the directory we chose! <br> Hope this guide found useful and feel free to reach out to me on GitHub or linkedin!</p>
          </div>
          
          <div class="grid lg:flex lg:justify-between lg:items-center gap-y-5 lg:gap-y-0">
            <!-- Badges/Tags -->
            <div>
              <a class="m-0.5 inline-flex items-center gap-1.5 py-2 px-3 rounded-full text-lg bg-gray-100 text-gray-800 hover:bg-gray-200 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:text-neutral-200" href="#">
                Unix
              </a>
              <a class="m-0.5 inline-flex items-center gap-1.5 py-2 px-3 rounded-full text-lg bg-gray-100 text-gray-800 hover:bg-gray-200 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:text-neutral-200" href="#">
                Web development
              </a>
              <a class="m-0.5 inline-flex items-center gap-1.5 py-2 px-3 rounded-full text-lg bg-gray-100 text-gray-800 hover:bg-gray-200 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:text-neutral-200" href="#">
                Bash
              </a>
            </div>
            <!-- End Badges/Tags -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Content -->

    <!-- Sidebar -->
    <div class="rounded-lg lg:col-span-1 lg:w-full lg:h-full lg:bg-gradient-to-r lg:from-from-slate-400 lg:via-transparent lg:to-transparent dark:from-blue-900 ">
      <div class="sticky top-0 start-0 py-8 lg:ps-8">
        <!-- Avatar Media -->
        <div class="group flex items-center gap-x-3 border-b border-gray-200 pb-8 mb-8 dark:border-neutral-700">
          <a class="block flex-shrink-0" href="#">
            <img class="size-10 rounded-full" src="assets/imgs/headshotXavierLora.png " alt="Image Description">
          </a>

          <a class="group grow block" href="">
            <h5 class="group-hover:text-gray-600 text-lg font-semibold text-gray-800 dark:group-hover:text-neutral-400 dark:text-neutral-200">
              Xavier Lora
            </h5>
            <p class="text-lg text-gray-500 dark:text-neutral-500">
              Web/App Enthusiast 
            </p>
          </a>

          <div class="grow box-border">
            <div class="flex justify-end gap-4">
              <a href="https://github.com/XavierLora">
                  <i class="devicon-github-original text-4xl text-white"></i>
              </a>
              <a href="https://www.linkedin.com/in/xavier-lora/">
                  <i class="devicon-linkedin-plain text-4xl text-white"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- End Avatar Media -->

        <div class="space-y-6 pr-4">
          <!-- Media -->
          <a class="group flex items-center gap-x-6" href="blogPost1">
            <div class="grow">
              <span class="text-lg font-bold group-hover:text-white text-slate-300">
                Boilerplate HTML Generator (Bash Script)
              </span>
            </div>

            <div class="flex-shrink-0 relative rounded-lg overflow-hidden size-20">
              <img class="size-full absolute top-0 start-0 object-cover rounded-lg" src="https://cdn.neowin.com/news/images/uploaded/2023/07/1688749943_vscode_story.jpg" alt="Image Description">
            </div>
          </a>
          <!-- End Media -->
          <a class="group flex items-center gap-x-6" href="blogPost2">
            <div class="grow">
              <span class="text-lg font-bold group-hover:text-white text-slate-300">
                Setting up Dark Mode with Tailwind
              </span>
            </div>

            <div class="flex-shrink-0 relative rounded-lg overflow-hidden size-20">
              <img class="size-full absolute top-0 start-0 object-cover rounded-lg" src="https://media.licdn.com/dms/image/D5612AQETWNgJIA8_cA/article-cover_image-shrink_720_1280/0/1692716751179?e=2147483647&v=beta&t=57yvzbLCZ2WZX5pYjPAuBiakX9Qtaku2qHQ4_Lf4XcU" alt="Image Description">
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->
  </div>
</div>
<!-- End Blog Article -->
      
      
  
  
</div>
