<blog-template>
  <ng-container blog-body>
    <h1>TO DO: ADD WEB DEV AS A CAREER PAGE</h1>
  </ng-container>

  <div blog-tags>
    <a
      class="m-0.5 inline-flex items-center gap-1.5 py-2 px-3 rounded-full text-lg bg-gray-100 text-gray-800 hover:bg-gray-200 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:text-neutral-200"
      href="#"
    >
      Unix
    </a>
    <a
      class="m-0.5 inline-flex items-center gap-1.5 py-2 px-3 rounded-full text-lg bg-gray-100 text-gray-800 hover:bg-gray-200 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:text-neutral-200"
      href="#"
    >
      Web development
    </a>
    <a
      class="m-0.5 inline-flex items-center gap-1.5 py-2 px-3 rounded-full text-lg bg-gray-100 text-gray-800 hover:bg-gray-200 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:text-neutral-200"
      href="#"
    >
      Bash
    </a>
  </div>
  <!-- End Content -->
</blog-template>
