<blog-template>
  <ng-container blog-body>
    <h2 class="text-2xl font-bold lg:text-5xl text-neutral-400">Early Years</h2>
    <p class="text-xl md:text-2xl text-gray-800 dark:text-neutral-200">
      I honestly don't know where to begin, but I think I will give some more
      background about myself. I am a recent graduate from Clarkson University
      where I got my Undergraduate degree in Software Engineering with a Minor
      in Mathematics. I have been using tech and working with computers
      virtually my whole life. My first real excitment and exposure for and with
      tech, was around the age of 8 or 9 when I started First Lego League
      Robotics. I had an amazing experience with this program, I had amazing
      coaches and mentors as well as teammates and friends. Some of my fondest
      childhood memories are from this time. I would not be the person I am
      today with those core STEM experiences.
    </p>
    <p class="text-xl md:text-2xl text-gray-800 dark:text-neutral-200">
      I continued with robotics for about 5 years and stopped when I got to
      highschool. While also competing in Robotics I played a variety of sports
      like basketball, baseball, and cross-country. I wasn't very good at
      anything besides running so I continued doing other extracurriculers like
      CyberPatriot and taking my first real stabs at coding. I built my first PC
      and really fell in love with Computer Hardware, which is a passion of mine
      outside of my career.
    </p>
    <p class="text-xl md:text-2xl text-gray-800 dark:text-neutral-200">
      I then went to college and first declared as an Engineering and Management
      Undergraduate at Clarkson University.
    </p>
    <h2 class="text-2xl font-bold lg:text-5xl text-neutral-400">
      The Making of Me
    </h2>
    <p class="text-xl md:text-2xl text-gray-800 dark:text-neutral-200">
      Looking back at that time and that decision, I have some regret. One of
      the driving factors in the decision was my low self-esteem. I did not
      believe in my ability to complete upper level Math and Science courses but
      to be honest I didn't even give myself a chance. Due to some poor choices
      and outlooks on my position at the time I performed very poorly my first
      year of college. Becoming Academically Seperated and having to decide what
      I was going to do with my Life or what I would do after having this idea
      of what it would look like since I started Robotics at 8, was hard to
      reconcile with.
    </p>
    <p class="text-xl md:text-2xl text-gray-800 dark:text-neutral-200">
      I was the first class to go to College with Covid in 2020 so that probably
      didn't help but due to this Clarkson gave me a second chance. I decided to
      go with general engineering until I could make decision on my Major. I
      started to talk to professors as well as students and was heavily
      considering Computer and Software Engineering. With the lucrative field of
      software engineering in the 2020's it seemed like a risk but one I was
      willing to take. I took a few summer courses that introduced me to C++ and
      some basic programming concepts but I knew from then on where I was gonna
      be going.
    </p>

    <p class="text-xl md:text-2xl text-gray-800 dark:text-neutral-200">
      Since then I have made some amazing strides to really pursue a life of
      work I will enjoy and inspire others with. This decision has left me
      feeling like I'm a kid doing Robotics again. I have become obsessed with
      Web Development since I first started working on it. I was fortunate
      enough to secure an internship as a Web Developer at Navy Federal going
      into my final year of college. I graduated in May of 2025 and have been
      working as a fulltime Software Developer at Navy Federal ever since.
    </p>
  </ng-container>
  <div blog-tags>
    <a
      class="m-0.5 inline-flex items-center gap-1.5 py-2 px-3 rounded-full text-lg bg-gray-100 text-gray-800 hover:bg-gray-200 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:text-neutral-200"
      href="#"
    >
      Unix
    </a>
    <a
      class="m-0.5 inline-flex items-center gap-1.5 py-2 px-3 rounded-full text-lg bg-gray-100 text-gray-800 hover:bg-gray-200 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:text-neutral-200"
      href="#"
    >
      Web development
    </a>
    <a
      class="m-0.5 inline-flex items-center gap-1.5 py-2 px-3 rounded-full text-lg bg-gray-100 text-gray-800 hover:bg-gray-200 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:text-neutral-200"
      href="#"
    >
      Bash
    </a>
  </div>
</blog-template>
