<div class="flex flex-col w-full h-fit">
  <div class="w-full h-screen bg-cover bg-center" style="background-image: url('https://demos.creative-tim.com/paper-kit-2-pro/assets/img/sections/pk-pro-cover.jpg'); -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 75%, transparent 100%);">
    <div class="pt-4">
        <app-navbar></app-navbar>
    </div>
        <!-- Card Blog -->
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <!-- Title -->
        <div class="max-w-2xl text-center mx-auto mb-10 lg:mb-14">
          <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">Read my latest Blog Posts</h2>
          <p class="mt-1 text-lg  md:text-xl text-slate-100">Here are a list of a variety of Blog Posts pertaining to Web and App Dev, tech, and more.</p>
        </div>
        <!-- End Title -->
      
        <!-- Grid -->
        <div class="grid sm:grid-cols-2 gap-14 mb-10 lg:mb-14">
          <!-- Card -->
          <a class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition dark:bg-neutral-900 dark:border-neutral-800" href="blogPost1">
            <div class="aspect-w-1 aspect-h-1 md:aspect-w-16 md:aspect-h-9">
              <iframe class="w-full object-cover rounded-t-xl" src="https://xavierlora.github.io/Portfolio/blogPost1" alt="Image Description"></iframe>
            </div>
            <div class="p-4 md:p-5">
              <div class="flex flex-row gap-4 items-center">
                <p class="text-md uppercase text-gray-600 dark:text-neutral-400">
                  Tutorial
                </p>
                <a class="inline-flex items-center gap-x-1.5 text-lg text-gray-600 decoration-2 hover:underline dark:text-blue-500" href="blogPost1">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
                  </svg>                  
                  Read Here
                </a>
              </div>
              
              <h3 class="mt-2 text-xl font-medium text-gray-800 group-hover:text-blue-600 dark:text-neutral-300 dark:group-hover:text-white">
                Boilerplate HTML Generator (Bash Script)
              </h3>
            </div>
          </a>
          <!-- End Card -->
      
          <!-- Card -->
          <a class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition dark:bg-neutral-900 dark:border-neutral-800" href="blogPost2">
            <div class="aspect-w-1 aspect-h-1 md:aspect-w-16 md:aspect-h-9">
              <iframe class="w-full object-cover rounded-t-xl" src="https://xavierlora.github.io/Portfolio/blogPost2" alt="Image Description"></iframe>
            </div>
            <div class="p-4 md:p-5">
              <div class="flex flex-row gap-4 items-center">
                <p class="text-md uppercase text-gray-600 dark:text-neutral-400">
                  Tutorial
                </p>
                <a class="inline-flex items-center gap-x-1.5 text-lg text-gray-600 decoration-2 hover:underline dark:text-blue-500" href="blogPost2">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
                  </svg>                  
                  Read Here
                </a>
              </div>
              
              <h3 class="mt-2 text-xl font-medium text-gray-800 group-hover:text-blue-600 dark:text-neutral-300 dark:group-hover:text-white">
                Setting up Dark Mode with Tailwind
              </h3>
            </div>
          </a>
          <!-- End Card -->
      
          <!-- Card -->
          
          <!-- End Card -->
      
          <!-- Card -->
          
          <!-- End Card -->
        </div>
        <!-- End Grid -->
      </div>
    
  <!-- End Card Blog -->
        
    </div>
    
  </div>
