/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, app-root{
    height: 100%;
    background-color: #151d20;
    font-family: 'Agdasima', sans-serif;
}
#debug{
    border: solid 1px red;
}

@import 'styles/components/blog.component.scss';