<div class="flex flex-col w-full h-fit bg-[#151d20]">
    <div class="w-full h-screen bg-cover bg-center overflow-hidden" style="background-image: url('https://demos.creative-tim.com/paper-kit-2-pro/assets/img/sections/pk-pro-cover.jpg');">
      <app-navbar></app-navbar>
      <div class="mt-20 grid grid-cols-1 grid-flow-row auto-rows-max w-full items-start text-center gap-y-0 md:grid-cols-2">
        <h1 class="text-6xl font-black text-white row-start-1 p-1 self-end md:row-start-2">Hi, I'm Xavier!</h1>
        <div class="rolodex text-4xl text-white row-start-2 p-1 self-start md:row-start-3">
          <ul class="roll-one">
            <li>A Web Developer</li>
            <li>Undergrad Software Engineer</li>
            <li>Avid Sci-Fi and Basketball fan</li>
          </ul>
        </div>
        <img class="mt-5 scale-125 rounded-3xl row-start-3 row-end-5 md:col-start-2 md:row-start-2 lg:row-start-1" id="headShot" src="assets/imgs/headshot.png" alt="X Headshot">
      </div>
    </div>
    <div class="w-full h-fit flex flex-col p-4 items-center">
      <h1 class="text-center text-white p-2 pb-4 text-5xl">About Me</h1>
      <div class="md:w-10/12 min-h-60 flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
        <div class="flex flex-auto flex-col justify-center items-center p-4 md:p-5">
          <p class="mt-2 text-white text-2xl text-center ">
            Hey, I'm X! Currently, I'm pursuing my undergraduate degree in Software Engineering at Clarkson University. Throughout my time here, I've been deeply involved in the IT sector, contributing significantly to Clarkson's technological landscape. Recently, I proudly accepted an Associate Position with Navy Federal Credit Union, where I'll be working as a Digital Engineer.
          </p>
        </div>
      </div>
      <h1 class="text-center text-white p-4 text-5xl">Experience and College</h1>
      <div class="md:w-10/12 min-h-60 flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
        <div class="flex flex-auto flex-col justify-center items-center p-4 md:p-5">
          <p class="mt-2 text-white text-2xl text-center ">
            My journey in software development has been marked by diverse experiences and exciting projects. Over the past year, I've dedicated myself to mastering web development, crafting websites for both personal and public use. Notable among these are the Cranston Little League Baseball Website, an NBA Stat Tracker, and a video game Item Tracker. Additionally, I've delved into app development and embedded systems. For a comprehensive view of my work, check out my GitHub profile linked below!
            Check the Projects Page at the top or click <a class="font-bold text-blue-300" href="projects">here!</a>
          </p>
        </div>
      </div>
      <h1 class="text-center text-white p-4 text-5xl">Future Plans</h1>
      <div class="md:w-10/12  min-h-60 flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
        <div class="flex flex-auto flex-col justify-center items-center p-4 md:p-5">
          <p class="mt-2 text-white text-2xl text-center ">
            I'm incredibly excited about my upcoming role at Navy Federal this summer, where I'll be joining the Digital Engineering Team. With my extensive exposure to the company and its operations, I'm determined to secure full-time employment and continue pursuing my passion for technology and innovation.
          </p>
        </div>
      </div>
      <!-- Icon Blocks -->
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <!-- Icon Block -->
      <div class="h-36 sm:h-56 flex flex-col justify-center rounded-xl text-center p-4 md:p-5">
        <!-- Icon -->
        <div class="flex justify-center items-center size-20 bg-gradient-to-br from-cyan-500 to-blue-500 rounded-lg mx-auto">
          <i class="devicon-angular-plain colored text-6xl"></i>
        </div>
        <!-- End Icon -->
  
        <div class="mt-3">
          <h3 class="text-lg sm:text-xl font-semibold text-white">
            Angular
          </h3>
        </div>
      </div>
      <!-- End Icon Block -->
  
      <!-- Icon Block -->
      <div class="h-36 sm:h-56 flex flex-col justify-center rounded-xl text-center p-4 md:p-5">
        <!-- Icon -->
        <div class="flex justify-center items-center size-20 bg-gradient-to-br from-cyan-500 to-blue-500 rounded-lg mx-auto">
          <i class="devicon-html5-plain-wordmark text-white text-6xl"></i> 
        </div>
        <!-- End Icon -->
  
        <div class="mt-3">
          <h3 class="text-lg sm:text-xl font-semibold text-white">
            HTML
          </h3>
        </div>
      </div>
      <!-- End Icon Block -->
  
      <!-- Icon Block -->
      <div class="h-36 sm:h-56 flex flex-col justify-center rounded-xl text-center p-4 md:p-5">
        <!-- Icon -->
        <div class="flex justify-center items-center size-20 bg-gradient-to-br from-cyan-500 to-blue-500 rounded-lg mx-auto">
          <i class="devicon-sass-original text-6xl text-white"></i>
        </div>
        <!-- End Icon -->
  
        <div class="mt-3">
          <h3 class="text-lg sm:text-xl font-semibold text-white">
            Sass/CSS
          </h3>
        </div>
      </div>
      <!-- End Icon Block -->
  
      <!-- Icon Block -->
      <div class="h-36 sm:h-56 flex flex-col justify-center rounded-xl text-center p-4 md:p-5">
        <!-- Icon -->
        <div class="flex justify-center items-center size-20 bg-gradient-to-br from-cyan-500 to-blue-500 rounded-lg mx-auto">
          <i class="devicon-javascript-plain text-6xl text-white"></i> 
        </div>
        <!-- End Icon -->
  
        <div class="mt-3">
          <h3 class="text-lg sm:text-xl font-semibold text-white">
            JavaScript
          </h3>
        </div>
      </div>
      <!-- End Icon Block -->
  
      <!-- Icon Block -->
      <div class="h-36 sm:h-56 flex flex-col justify-center rounded-xl text-center p-4 md:p-5">
        <!-- Icon -->
        <div class="flex justify-center items-center size-20 bg-gradient-to-br from-cyan-500 to-blue-500 rounded-lg mx-auto">
          <i class="devicon-java-plain text-6xl text-white"></i>
        </div>
        <!-- End Icon -->
  
        <div class="mt-3">
          <h3 class="text-lg sm:text-xl font-semibold text-white">
            Java
          </h3>
        </div>
      </div>
      <!-- End Icon Block -->
      <div class="h-36 sm:h-56 flex flex-col justify-center rounded-xl text-center p-4 md:p-5">
        <!-- Icon -->
        <div class="flex justify-center items-center size-20 bg-gradient-to-br from-cyan-500 to-blue-500 rounded-lg mx-auto">
          <i class="devicon-tailwindcss-original text-white text-6xl"></i>
        </div>
        <!-- End Icon -->
  
        <div class="mt-3">
          <h3 class="text-lg sm:text-xl font-semibold text-white">
            Tailwind
          </h3>
        </div>
      </div>
      <!-- Icon Block -->
      <div class="h-36 sm:h-56 flex flex-col justify-center rounded-xl text-center p-4 md:p-5">
        <!-- Icon -->
        <div class="flex justify-center items-center size-20 bg-gradient-to-br from-cyan-500 to-blue-500 rounded-lg mx-auto">
          <i class="devicon-c-plain text-6xl text-white"></i>
        </div>
        <!-- End Icon -->
  
        <div class="mt-3">
          <h3 class="text-lg sm:text-xl font-semibold text-white">
            C/C++
          </h3>
        </div>
      </div>
      <!-- End Icon Block -->
  
      <!-- Icon Block -->
      <div class="h-36 sm:h-56 flex flex-col justify-center rounded-xl text-center p-4 md:p-5">
        <!-- Icon -->
        <div class="flex justify-center items-center size-20 bg-gradient-to-br from-cyan-500 to-blue-500 rounded-lg mx-auto">
          <i class="devicon-githubcodespaces-plain text-6xl text-white"></i>
        </div>
        <!-- End Icon -->
  
        <div class="mt-3">
          <h3 class="text-lg sm:text-xl font-semibold text-white">
            GitHub
          </h3>
        </div>
      </div>
      <!-- End Icon Block -->
  
      <!-- Icon Block -->
      <div class="h-36 sm:h-56 flex flex-col justify-center   rounded-xl text-center p-4 md:p-5">
        <!-- Icon -->
        <div class="flex justify-center items-center size-20 bg-gradient-to-br from-cyan-500 to-blue-500 rounded-lg mx-auto">
          <i class="devicon-androidstudio-plain text-white text-6xl"></i> 
        </div>
        <!-- End Icon -->
  
        <div class="mt-3">
          <h3 class="text-lg sm:text-xl font-semibold text-white">
            Android Studio
          </h3>
        </div>
      </div>
      <!-- End Icon Block -->
      <div class="h-36 sm:h-56 flex flex-col justify-center   rounded-xl text-center p-4 md:p-5">
        <!-- Icon -->
        <div class="flex justify-center items-center size-20 bg-gradient-to-br from-cyan-500 to-blue-500 rounded-lg mx-auto">
          <i class="devicon-unix-original text-6xl text-white"></i>
        </div>
        <!-- End Icon -->
  
        <div class="mt-3">
          <h3 class="text-lg sm:text-xl font-semibold text-white">
            Unix
          </h3>
        </div>
      </div>
      <div class="h-36 sm:h-56 flex flex-col justify-center   rounded-xl text-center p-4 md:p-5">
        <!-- Icon -->
        <div class="flex justify-center items-center size-20 bg-gradient-to-br from-cyan-500 to-blue-500 rounded-lg mx-auto">
          <i class="devicon-mysql-plain-wordmark text-6xl text-white"></i>
        </div>
        <!-- End Icon -->
  
        <div class="mt-3">
          <h3 class="text-lg sm:text-xl font-semibold text-white">
            SQL/mySQL
          </h3>
        </div>
      </div>
      <div class="h-36 sm:h-56 flex flex-col justify-center   rounded-xl text-center p-4 md:p-5">
        <!-- Icon -->
        <div class="flex justify-center items-center size-20 bg-gradient-to-br from-cyan-500 to-blue-500 rounded-lg mx-auto">
          <i class="devicon-php-plain text-6xl text-white"></i>
        </div>
        <!-- End Icon -->
  
        <div class="mt-3">
          <h3 class="text-lg sm:text-xl font-semibold text-white">
            php
          </h3>
        </div>
      </div>
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Icon Blocks -->
    </div>
  </div>
  <app-footer></app-footer>
  